@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');

@import "tailwindcss"

@tailwind utilities;

@layer utilities {
    .font-play {
        font-family: "Playfair Display", serif;
    }
    .font-clicker {
        font-family: "Clicker Script", cursive;
    }
}